<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html>
  <head>
    <title>TODO supply a title</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script 
    src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.7/angular.min.js"></script>
    <!--STYLES-->
    <link
        rel="stylesheet"
        href="http://www.w3schools.com/lib/w3.css" />
  </head>
  <body class="w3-dark-grey w3-text-white">
    <div ng-app="UiApp">
      <div class=
           "w3-container w3-center w3-blue-grey w3-margin-bottom">
        <h5 class=
            "w3-myfont">Introduction to Java Microservices - Almir Campos, 2017</h5>
      </div>
      <div ng-controller="UiController">
        <button class="
                w3-btn-block
                w3-teal
                w3-large
                w3-margin-bottom">
          Take an Exam
        </button>
        <table class="w3-table-all w3-large">
          <thead>
            <tr class="w3-green">
              <th>ID</th>
              <th>DESCRIPTION</th>
              <th>GRADE</th>
              <th>ACTIONS</th>
            </tr>
          </thead>
          <tbody class="w3-text-black">
            <tr ng-repeat="exam in exams">
              <td>{{exam.id}}</td>
              <td>{{exam.description}}</td>
              <td style="float: right; margin-right: 2em;">
                {{exam.grade}}</td>
              <td>
                <button class="
                        w3-btn
                        w3-teal
                        w3-large
                        w3-margin-bottom"
                        ng-click="navToDetails(
                                              exam.id,
                                              exam.description,
                                              exam.grade)">
                  Details
                </button>
                [Delete]</td>
            </tr>
          </tbody>
        </table>
        <!--<pre>{{exams | json}}</pre>-->
      </div>
    </div>
    <script>
      angular
              .module("UiApp", [])
              .controller("UiController",
                      function ($http, $scope)
                      {
                          console.log(
                                  "UI Controller up!");
                          $http.get("/findAll")
                                  .then(function (response)
                                  {
                                      $scope.exams =
                                              response.data;
                                  });
                          // NAVIGATE TO DETAILS
                          //
                          $scope.navToDetails = function (
                                  examId, examDescription, examGrade)
                          {
                              localStorage.setItem(
                                      "examId", examId);
                              localStorage.setItem(
                                      "examDescription",
                                      examDescription);
                              localStorage.setItem(
                                      "examGrade",
                                      examGrade);
                              window.location.href =
                                      "details.html";
                          }
                          ;
                      });
    </script>
  </body>
</html>
